html {
  background-color: white
}
a {
  color: #588157;
}
.header {
  padding-top: 40px;
  text-align: left;
  font-size: 17px;
}
h1 {
  font-size: 34px;
}
nav a, footer div a {
  margin: 0px 7px;
}
body {
  font-family: Palatino, Palatino Linotype,
    Palatino LT STD, Book Antiqua, Georgia, serif;
  margin: auto;
  padding: 18px;
  max-width: 600px;
  font-size: 17px;
  text-align: left;
  position: relative;
}
.center {
  text-align: center;
}
.padding-top {
  padding-top: 25px;
}
.padding-top-half {
  padding-top: 12.5px;
}
.padding-bottom {
  padding-bottom: 25px;
}
img, video {
  max-width: 600px;
}
#wrapper {
  width: 100%;
  overflow: hidden;
}
.block {
  display: block;
  overflow: hidden;
}
.block_50x100 {
  width: 49.5%;
  height: 300px;
  float: left;
  display: table-cell;
  vertical-align: middle;
  background-color:white;
}
.block_50x50 {
  width: 49.5%;
  height: 149.5px;
  float: left;
  display: table-cell;
  vertical-align: middle;
  background-color:white;
}
.p-label {
  text-align:center;
}