@font-face {
  font-family: "Playfair Display";
  src: url("fonts/PlayfairDisplay/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("fonts/Lora/Lora-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  scroll-behavior: smooth;
  font-family: "Lora", sans-serif;
  font-size: 15px;
  margin: auto;
  padding: 18px;
  width: 100%;
  max-width: 850px;
}
.header {
  font-family: "Lora", serif;
  padding-top: 40px;
  text-align: left;
  font-size: 14px;
}
nav a {
  font-family: "Playfair Display", serif;
  color: black;
  text-decoration: none;
  margin: 0px 7px;
}
a {
  color: #395c38;
  text-decoration: none;
}
a:hover {
  color: #008FE8;
}
/* Restore bullet points for unordered lists */
ul {
  list-style-type: disc;
  padding-left: 20px;
}
